.menu{
  background: lightgray;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 200px;
  border-radius: 20px;
}
.menu-btn{
  position: flex;
  justify-content: center;
  align-items: center;
  background: dodgerblue;
  width: 200px;
  height: 70px;
  border: 2px solid white;
  border-radius: 20px;
  display: inline-inline-block;
}
.icon{
  width: 45px;
  height: 55px;
  /* pointer-events: none; */
}
.btn-lable{
  text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
  /* align-items: center; */
}
